*{
  padding: 0; 
  margin: 0;
}


body {
	background-color: #DDDDE0;
  color: #181536;
	font-size: 16px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

/*header styling*/

header {
  text-align: center;
}



hr{
  border: none;
  height: 1px;
  background-color: #9EA5B8;
  width: 60%;
  margin: 1em auto;
}


h1 {
	font-family: 'Montserrat', sans-serif;
  margin:2em 4em;
}

/*secondary header styling*/
h2, h3 {
  margin-top: 2%;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h4 {
  margin: 2% 3%;
  padding: 1%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

p {	
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
  color: #838998;
	line-height: 1.5em;
  padding: 1%;
  font-weight: 300;
}

main {
  width:100%;
  overflow: auto;
  clear: both;
}


a{
  color: #313F52;
  text-decoration: none;
  margin: 3em 1em;
  padding: 1em;
}


/*image styling*/

img {
  width: 100%;
  display: block;
  border-radius: 25px;
}

/*Footer Styling*/
footer {
  padding: 2em 2em 2em 0em;
  margin: 0em;
  text-align: center;
  clear: both;
  background: #323B40;

}

iframe { 
  width: 98%; 
  border: none; 
  padding: 1%;
  margin: 1% auto;

  vertical-align: middle;
  
 }

span{
  display: inline-block;
  margin: 0 1%; 
  padding: 0;
  width: 60%;
  text-align: left;
}


/*borders for nav*/
.navdivide1{
  border: none;
  height: 1px;
  background-color: #9EA5B8;
  width: 100%;
  text-align: center;
  margin: 1em auto;
}

.navdivide2{
  border: none;
  height: 1px;
  background-color: #9EA5B8;
  width: 100%;
  text-align: center;
  margin: 1em 0 auto;
}  


.intro{ 
  width: 70%;
  margin-top: 3em;
  margin-right: auto;
  margin-left: auto; 
  padding: 4em 3em;
  display: block;
  background-color: #ECECF0;
  border-radius: 100px;

 }

.placestitle{
  width: auto; 
  padding-top: 3em;
  clear: both;
}

.trendingtitle{
  width: auto;
  padding-top: 3em;
  clear: both;
}


.teasers{
  width: 80%;
  margin-top: 3em;
  margin-right: auto;
  margin-left: auto;
  padding: 1%;
  overflow: visible;
  clear: both;
}

.articleimage{
  width: 100%
}

.index1{
  padding: 1%;
  display: block;
  float: left;
  width: 31.33333%;
}

.lastsection{
  margin: 2em auto;
  padding: 2em;
  width: 80%;
  clear: both;
  display: block;
}

.songlist1{
  border-radius: 25px;
  margin: 3% 10%;
  padding: 3%;
  clear: both;
  background-color: #ECECF0;
  text-align: left;
}


.spanright{
    text-align: right;
    margin: 0;
    width: 35%;
}

.streamlinks{
  margin: 0;
  padding: 0;
}


.artarticle{
  width: 29.3%;
  margin: 5% 2%;
  display: block;
  float: left;
}

.container{
  margin: 2em auto;
  padding: 1%;
  width: 80%;
  overflow: auto;
  display: block;
  clear: both;

}


footer a {
  color: #DDDDE0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


.test{
  height: 70%;
  width:100%;
  position:relative;
  margin:auto;
  background-color: grey;
  border-radius: 25px;

}

#hoverel{
    opacity: 0;
    height: 57%;
    width: 100%;
    background-color: rgba(131,137,152,0.5);
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    text-align: center;
    color: #ECECF0;
    font-size: 2em;
    padding: 43% 0 0;
    margin: 0;
}

.test:hover > #hoverel {
  /*display:inline-block;*/
  opacity: 1;
  border-radius: 25px;
  transition:opacity 1s; 
}

#hoverel2{
    opacity: 0;  
    height: 62%;
    width: 100%;
    background-color: rgba(131,137,152,0.5);
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    text-align: center;
    color: #ECECF0;
    font-size: 2em;
    padding: 25% 0 0;
    margin: 0;
}

.test:hover > #hoverel2 {
  opacity: 1;
  border-radius: 25px;
  transition:opacity 1s; 
}

#toggle{
  display: none;
}

#hoverel3 {
    opacity: 0;
    height: 63%;
    width: 100%;
    background-color: rgba(131,137,152,0.5);
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    text-align: center;
    color: #ECECF0;
    font-size: 2em;
    padding: 22% 0 0;
    margin: 0;
}

.test:hover > #hoverel3 {
  opacity: 1;
  border-radius: 25px;
  transition:opacity 1s; 
}


/*Arrow Decoration*/
/*.arrow{ 
background: none;
  border: solid transparent;
  border-width: 0 0 35px 35px;
  transition: .24s;
  padding: 50px;
  width: 4px;
  display: block;
  box-shadow: 2px -2px 0 .5px white inset;
  transform: rotate(225deg);
  float: right;
 }

 .arrow:hover {
    box-shadow: 4px -4px 0 2px white inset;
 }*/

 /*End Arrow*/

/*Hamburger*/
       label {
        float: none;
        display: none;
        text-align: center;
        margin: 0;  
        padding: 1em;
      }


/*NAV BAR*/
    /* Style the links inside the navigation bar */
    .topnav a {
        color: #181536;
        text-align: center;
        padding: 1em 2em;
        margin: -2px;
        text-decoration: none;
        font-size: 1em;
        
    }

    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #838998;
      color: white;
      transition: 1.2s;
    }

    /* Style the "active" element to highlight the current page */
    .topnav a.active {
      color: white;
    }

    /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
   @media screen and (max-width: 880px) {

    section div:nth-of-type(3) {
     display: none;
    }

    .index1{
      width: 48%;
    }
   }



    @media screen and (max-width: 600px) {
      h1 {
        font-family: 'Montserrat', sans-serif;
        margin: 1.5em auto;
        text-align: center;
        width: 100%;
      }

      footer{
        padding: 2em;
      }

      a{
        white-space: nowrap;
      }

      section div:nth-of-type(2) {
        display: none;
      }

      label{
        display: block;
      }

      nav {
        display: none;
      }

      #toggle:checked + nav { 
          display: block;
          transition: 2s;
       }

      .index1{
        width: 98%;
      }

 
      .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: center;
        margin: 0;  
        padding: 1em;
      }

      .intro {
        width: 85%;
        margin:0;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
        display: block;
        background-color: #ECECF0;
        border-radius: 0px;
      }

      .navdivide1, .navdivide2 {
        margin: 0 auto;
      }

      .lastsection{
        width: 89%
      }

      .artarticle{
       display: none;
      }

           
    }

    @media screen and (min-width: 870px) {
      .intro {
        width: 609px;

      }
/*END NAV STYLING*/

 









